body {
  background: #000;
}
main {text-align:center;margin:50px auto;color:#8b8b13;}
h1 {font-size:30px;margin:10px 0px;}
h2 {font-size:20px;margin:10px 0px;}
h3 {font-size:15px;margin:10px 0px;}
#text {font-size:17px;margin:20px 0px;}
